            * {
                border: 0;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100px;
            }
            
            #menu_esquerdo ul {
                width: 100%;
                background-color: aliceblue;
                display: flex;
                justify-content: space-between;
            }
            
            #menu_esquerdo {
                margin-left: 10px;
            }
            
            #menu_direito {
                margin-right: 10px;
            }
            
            #menu_esquerdo ul li a {
                padding-right: 14px;
                text-decoration: none;
                color: black;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 500;
                font-size: 20px;
            }
            /* inserindo border-right como separador */
            
            #menu_esquerdo ul li {
                list-style: none;
                border-right: 1px solid black;
                margin-right: 5px;
            }
            /* tirar a ultima borda  */
            
            #menu_esquerdo ul li:last-child {
                border-right: none;
            }
            
            #menu_direito ul {
                width: 100%;
                background-color: aliceblue;
                display: flex;
                justify-content: space-between;
            }
            
            #menu_direito ul li a {
                padding-right: 14px;
                text-decoration: none;
            }
            
            #menu_direito ul li {
                list-style: none;
                margin-right: 5px;
                color: black;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 500;
                font-size: 20px;
            }
            
            .logo h1 {
                width: 100%;
                background-color: #449f73;
                height: 80px;
                left: 60px;
                top: 75px;
                color: white;
                text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
                font-size: 50px;
                font-weight: 700;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                text-align: left;
                padding-left: 30px;
            }
            
            section {
                display: flex;
            }
            /* camadas sobrepostas */
            
            #container {
                width: 679px;
                height: 300px;
                background-color: #415d1c;
                position: absolute;
                z-index: 2;
                bottom: 48px;
                display: flex;
            }
            
            #container img {
                width: 50%;
                height: auto;
                margin-top: 45%;
                margin-left: 20%;
            }
            
            #container2 img {
                width: 780px;
                height: 400px;
                display: flex;
                position: absolute;
                z-index: 1;
                left: 600px;
                bottom: -52px;
            }
            
            #titulo {
                font-size: 60px;
                color: white;
                margin-top: 20%;
            }
            
            .text {
                margin-top: 32%;
                margin-left: 3%;
                line-height: 25px;
            }
            
            p,
            li {
                font-size: 15px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            
            .text_direita {
                display: flex;
            }
            
            #frase {
                margin-top: 40%;
                margin-left: 10%;
                font-size: 40px;
                font-weight: bolder;
                color: #415D1C;
            }
            
            footer {
                background-color: #449F73;
                height: 45px;
                width: 102%;
                margin-top: 30px;
                margin-bottom: 20px;
                padding-top: 10px;
                text-align: center;
                font-family: cursive;
                color: rgb(1, 8, 1);
            }
            /*pag Soluçoes  */
            
            #foto-lixao {
                margin-top: 30px;
                margin-left: 20px;
                margin-right: 50px;
            }
            
            .solucao {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
            
            #solucoes {
                margin-top: 40px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 20px;
                line-height: 50px;
            }
            /*pag vamos reciclar */
            
            .vamos-reclicar {
                display: flex;
                justify-content: space-around;
            }
            
            #map {
                margin-top: 3%;
                border: 1px solid #449f73;
            }
            
            #vamos-reciclar {
                font-size: 25px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color: #2d470b;
                margin-top: 40px;
            }
            
            #formulario h2 {
                font-size: 38px;
                color: #2d470b;
                margin-top: 40px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            
            .form {
                height: 300px;
                width: 400px;
                margin-top: 30px;
            }
            
            .divFormulario {
                width: 530px;
                height: 25px;
                /* border: 1px solid black; */
                margin-bottom: 15px;
                padding: 2px;
            }
            /* titulo do formulario */
            
            .textoTituloFormulario {
                font-size: 16px;
                color: black;
            }
            /* estlização do fieldset */
            
            .divFieldset {
                width: 550px;
                height: 300px;
            }
            
            .textoFormulario {
                font-size: 16px;
                color: #000;
            }
            
            .divEstado {
                width: 100px;
                height: 30px;
                /* border: 1px solid black; */
            }
            
            .divLabel {
                width: 100px;
                height: 30px;
                /* border: 1px solid black; */
            }
            
            .alinhamento {
                display: flex;
            }
            
            .divCidade {
                width: 150px;
                height: 30px;
            }
            
            legend {
                font-weight: bold;
                font-size: 18px;
            }
            
            .espacamento {
                word-spacing: 5px;
            }
            
            .myButton {
                box-shadow: 3px 4px 0px 0px #899599;
                background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
                background-color: #ededed;
                border-radius: 15px;
                border: 1px solid #d6bcd6;
                display: inline-block;
                cursor: pointer;
                color: #3a8a9e;
                font-family: Arial;
                font-size: 17px;
                padding: 7px 25px;
                text-decoration: none;
                text-shadow: 0px 1px 0px #e1e2ed;
                margin-top: 20px;
            }
            
            .myButton:hover {
                background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
                background-color: #bab1ba;
            }
            
            .myButton:active {
                position: relative;
                top: 1px;
            }
            /* pag contato */
            
            section div {
                display: flex;
                justify-content: center;
            }
            
            #background-garrafas {
                background-color: #415D1C;
                width: 100%;
                /* background-image: url("img/folha2.jpeg"); */
            }
            /* #background-garrafas {
    background-image: url("img/garrafas.png");
    width: 100%;
    height: auto;
} */
            
            fieldset {
                height: auto;
                border: 3px double rgb(68, 83, 58);
                padding: 20px 10px;
            }
            
            #contato2 {
                background-color: #415D1C;
                padding: 30px;
                line-height: 40px;
                font-size: 20px;
                /* display: flex;
    flex-direction: column;
    justify-content: center; */
            }
            /* responsividade */
            /* *vamos reciclar */
            
            @media screen and (max-width:1250px) {
                img {
                    width: 100%;
                    height: 100%;
                }
                .vamos-reclicar {
                    display: flex;
                    flex-direction: column;
                }
            }